div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 10000000;
    }
}

.manage-patient-container {
    .m-p-title {
        text-transform: uppercase;
        margin: 15px 0;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .manage-patient-body {
        padding: 0 20px;
        .mp-btn-check {
            margin-left: 10px;
        }
        .mp-btn-confirm {
            margin-right: 10px;
        }
    }
}

.bg-create {
    width: fit-content;
    color: white;
    background-color: rgb(23, 116, 46);
    padding: 4px 12px;
    border-radius: 25px;
}

.bg-update {
    width: fit-content;
    color: white;
    background-color: rgb(248, 175, 63);
    padding: 4px 12px;
    border-radius: 25px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
