.detail-specialty-container {
    background-color: #eeeeee;

    .detail-specialty-body {
        padding       : 0 100px;
        display       : flex;
        flex-direction: column;

        .description-specialty {
            background-color: #fff !important;
            padding         : 10px;
            margin          : 15px 0;

            h1,
            h2,
            h3 {
                font-size  : 19px;
                font-weight: 600;
            }
        }

        .search-sp-doctor {
            select {
                height       : 30px;
                padding      : 5px 8px;
                border       : none;
                outline      : none;
                border-radius: 3px;
                cursor       : pointer;
            }
        }

        .each-doctor {
            display         : flex;
            width           : 100%;
            min-height      : 300px;
            margin          : 15px 0;
            padding         : 10px;
            border-radius   : 8px;
            background-color: #fff;
            box-shadow      : 0 1px 6px rgba(32, 33, 36, 0.25);

            .dt-content-left {
                width       : 50%;
                border-right: 2px solid #ddd;

                .profile-doctor-container {
                    .down {
                        padding: 8px;
                    }
                }
            }

            .dt-content-right {
                width  : 50%;
                padding: 10px;

                .doctor-schedule {
                    .doctor-schedule-container {
                        border-right: unset !important;
                    }
                }

                .doctor-extra-infor {
                    border-top : 1px solid #dddd;
                    margin-top : 10px;
                    padding-top: 10px;

                    .doctor-extra-infor-container {
                        padding-left: 0 !important;
                    }
                }
            }
        }
    }
}