.navDetail{
    display:flex;
    .icon{
        padding: 0;
            width: 4.5%;
            font-size: 50px;
            border-right: solid 1px;
    }
    .icon:hover{
        background-color: lightgray;
    }
}
.specialty-content{
    display:flex;
    width:100%;
    border-top: solid 1px;
    border-bottom: solid 1px;
    img{
        width:6rem;
        height:6rem;
    }
    .specialty-name{
        font-size: 25px;
        align-items: center;
    }
}
