.navDetail {
    display: flex;

    .icon {
        padding: 0;
        width: 4.5%;
        font-size: 50px;
        border-right: solid 1px;

        :hover {
            background-color: lightgray;
        }
    }
}

.specialty-content {
    cursor: pointer;
    display: flex;
    width: 100%;
    border-top: solid 1px 0.9;
    border-bottom: 2px solid #ddd;

    &:hover {
        background-color: lightgray;
    }

    img {
        width: 8.5rem;
        height: 8.5rem;
    }

    .specialty-name {
        width: 100%;
        font-size: 25px;
        align-items: center;
    }
}
