.manage-doctor-container {
    padding         : 0 120px;
    background-color: #eeeeee;

    .manage-doctor-title {
        text-align    : center;
        padding       : 15px 0;
        font-size     : 20px;
        text-transform: uppercase;
        font-weight   : 600;
    }

    .more-infor {
        display       : flex;
        gap           : 15px;
        padding-bottom: 15px;

        .content-left {
            width: 35%;
        }

        .content-right {
            width: 65%;
        }
    }
}