.user-redux-container {
    // background-color: rgba(255, 255, 255, 0.3) !important;
    background-color: #eeeeee;

    .title {
        margin-top : 0 !important;
        padding-top: 15px;
    }

    .label-upload {
        padding      : 7px;
        border-radius: 3px;
        background   : #ddd;
        cursor       : pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .preview-image {
        height         : 50px;
        width          : 100%;
        border         : 1px solid #ddd;
        background     : center center no-repeat;
        background-size: contain;
        cursor         : pointer;
    }
}

.btn-edit {
    width     : 50px;
    border    : none;
    outline   : none;
    background: transparent;
    color     : orange;

    &:hover {
        background-color: transparent !important;
        color           : orangered !important;
    }
}

.btn-delete {
    width     : 50px;
    border    : none;
    outline   : none;
    background: transparent;
    color     : rgb(255, 0, 0);

    &:hover {
        background-color: transparent !important;
        color           : rgba(255, 0, 0, 0.692) !important;
    }
}