div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 10000000;
    }
}

.manage-patient-container {
    .m-p-title {
        text-transform: uppercase;
        margin        : 15px 0;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
    }

    .manage-patient-body {
        padding: 0 20px;

        .mp-btn-confirm {
            margin-right: 10px;
        }
        .btn-red {
            background-color: red !important;
            /* Các thuộc tính khác để tạo nút màu đỏ */
        }
        .btn-blue {
            background-color: blue !important;
            /* Các thuộc tính khác để tạo nút màu đỏ */
        }
    }
}